body{
	width: 100%;
	height: 1110px;
	background: url(../img/a1.jpg.png) no-repeat;
	background-size: 100%;
	position: relative;
}
.uls{
	position: absolute;
	left: 145px;
	margin-top: 140px;
}
.uls li{
	font-size: 20px;
	color: #f6cd25;
	float: left;
	width: 240px;
}
.banner{
	width: 372px;
	height: 469px;
	overflow: hidden;
	position: absolute;
	top:262px;
	left:485px;
}
.banner ul li{
	float: left;
	border-radius: 50px;
	width: 1272px;
	height: 469px;
}
.banner ul li img{
	display: block;
	width: 100%;
	height: 100%;
}
